@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow {
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.h1__span__gradient {
    background: linear-gradient(270deg, #FFE500 0%, #F90 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masonry-layout {
    column-count: 3;
    column-gap: 1rem;
}

.masonry-layout>div {
    break-inside: avoid;
    margin-bottom: 1rem;
}